<div class="jumbotron">
  <h1>Welcome to Lets Meet</h1>
  <p class="lead">
    Lets Meet helps you to organize a meet up in a nice and democratic way.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/login">Log in</a></p>
</div>

<div class="row marketing">
  <h4>Create a Meet is Easy!</h4>
  <p>
    Once you have a Lets Meet account, you can create a meet up in seconds.
  </p>

  <h4>Invite Your Friends to Join a Meet Up Plan</h4>
  <p>
    
  </p>

  <h4>Propose Meet Up Plan Options and Let All Vote, Both Option and Time</h4>
  <p></p>
</div>
